
.dd1{
    color: rgb(185, 19, 19);

}
.p1{
    background: black;
    color: white;
    transition: 2s;
    transition-duration: 2s;
    border: none;
    transition-property: initial;
    transform-style: flat;
    font-size: 20px;
    width: max-content;
    height: 35px;
    text-align: center;

}
.p2{
    font-size: 8px;
    width: 200px;
    height: 30px;
    color: rgb(8, 0, 0);
    border: none;
    background: transparent;


}


.p2:hover{
    width: 210px;
    height: 35px;
    color: black;
    text-shadow: 1px 1px 1px rgb(6, 179, 202);

    text-transform: capitalize;
    
}
.more{
    width: 200px;
    height: 30px;
    color: black;
    border: none;
    font-size: 8px;
    background: transparent;
    margin-top: 5%;

}
.more:hover{
    width: 200px;
    height: 35px;
    color: black;
    text-shadow: #5900ff;
    
    text-transform: capitalize;
}
.inputs{
    width: 390px;
    height: 300px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;

}
.input{
    display: block;
    text-align: center;
    margin-left: 1px;
    margin-top: 40px;
    position: relative;
}    
#name,#inp2,#inp3{

border: 1px solid rebeccapurple;
border-radius: 5px;
height: 25px;
width: 250px;

}
@keyframes ani{
    25%{
        border-radius: 5px;
        border-left: 1px solid rgb(139, 12, 212);
        border-top:1px solid   rgb(15, 70, 221);
        border-bottom:1px solid rgb(226, 14, 198);
        border-right:1px solid rgb(8, 206, 156);
    }
    50%{
        border-radius: 5px;
        border:1px solid rgb(139, 12, 212);
        border:1px solid   rgb(15, 70, 221);
        border:1px solid rgb(226, 14, 198);
        border:1px solid rgb(8, 206, 156);
    }

    75%{
        border-radius:5px;
        border:1px solid rgb(139, 12, 212);
        border:1px solid   rgb(15, 70, 221);
        border:1px solid rgb(226, 14, 198);
        border:1px solid rgb(8, 206, 156);
    }
    
    100%{
        border-radius: 5px;
        border:1px solid rgb(139, 12, 212);
        border:1px solid   rgb(15, 70, 221);
        border:1px solid rgb(226, 14, 198);
        border:1px solid rgb(8, 206, 156);
    }
    
}
.inp1:hover{
    animation: mi 3s linear infinite;
    width: 20px;
    height: 25px;
    color: red;
    transition: 3s ;
    background-color: rgb(18, 212, 34);
}

.btn{
    width: 210px;
    height: 35px;
    border: 0.1px solid rgb(48, 40, 40);
    background: linear-gradient(45deg,#5900ff,#3131b6,#008044);
    border-radius: 5px;
    animation: ani 2s linear infinite;
    box-shadow: 0 0 10px#5900ff;
    transition: box-shadow 0.4s;
    
}
.btn:hover{
    box-shadow: 0 0 20px #5900ff,0 0 40px #3131b6,0 0 60px #008044;
}
@keyframes ani {
    to{
        background-position: 0 50%;
    }
    25%{
        background-position: 100% 100%;
    }
    end{
        background-position: 50% 0;
    }
}
.pi,.pi1,.pi2{
    width: 300px;
    height:70px;
    font-size: 20px;
    margin-left: 45px;
    transition: 2s;
}
.btn1{
    width: 50px;
    height: 20px;
    border-radius: 13px ;
    margin-top: 20px;

}



.div1{
    border: 1px solid black;
    width: 360px;
    margin-top: 20px;
    height: 200px;
}
.tog1,.togle{
width: 80px;
height: 30px;
border: 0.1px solid rgb(48, 40, 40);
background: linear-gradient(45deg,#5900ff,#3131b6,#008044);
border-radius: 5px;
animation: ani 2s linear infinite;
box-shadow: 0 0 10px#5900ff;
transition: box-shadow 0.4s;

}
.tog1:hover,.togle:hover{
    box-shadow: 0 0 20px #5900ff,0 0 40px #3131b6,0 0 60px #008044 ;
}
.po{
    width: 80px;
    height: 30px;
    border: 0.1px solid rgb(48, 40, 40);
    background: linear-gradient(45deg,#5900ff,#3131b6,#008044);
    border-radius: 5px;
    animation: ani 2s linear infinite;
    box-shadow: 0 0 10px#5900ff;
    transition: box-shadow 0.4s;
}
.po:hover{
    box-shadow: 0 0 20px #5900ff ,0 0 40px #3131b6,0 0 60px #008044;
}
.togle{
    margin-left: 20px;
}
.we{
    width: 30px;
    height: 25px;
    box-shadow: 0 0 10px #ff0000;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
    background: #f3ebeb;
    border-radius: 5px;
    border: 0.1px solid black;
    color: black;
}
.we:hover{
    box-shadow: 0 0 20px #ff0000,0 0 40px #b63138,0 0 60px #800006;

    color: rgb(233, 225, 225);
    background: rgb(240, 3, 3);
}


#inp4{
    background: #5900ff;
    color: black;
    
}
#inp1{
    background: black;
    color: white;
} 
.im1{

    width: 200px;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
}
.im1:hover{
 box-shadow: 0 0 30px aqua,0 0 60px aqua,0 0 90px aqua;
}